.logo {
    border-radius: 50%;
    height: 50px;
}
.carousel-item img {
    margin: 0 auto;
    width: auto;
    max-height: 768px;
}
.fs-4{
    font-family: cursive;
    padding-left: 10px;
    font-weight: bold;
}
.nav-link{
    color: black;
}

.bowtie{
    border-radius: 50%;
    width: 55px;
}

